{%extends "layout.html"%}
{% block content %}
<div class="about">
     <h2>The Asian Development Bank (ADB) has projected that India's gross domestic product (GDP) will rebound strongly by 11 per cent in 2021-22 due to continued economic recovery boosted by increased public investment, vaccine rollout, and a surge in domestic demand.</h2>
     <h1>“India's economy faced its worst contraction in 2020-21 due to the COVID-19 shock. With large government stimulus and the ongoing vaccination drive, we expect economic activity will continue its recovery started from the third quarter of 2020-21 and rebound strongly in the current fiscal year with an uptick in domestic demand, especially in urban services,” said ADB Country Director for India Takeo Konishi.</h1>
<div>
     <img src="https://assets.weforum.org/article/image/zo1yvsbeR9IEiUeu3N_f8wfz-rdYZTmAABc1f0V7bKw.jpg" width="800" height="500">
{%endblock%}