{%extends "layout.html"%}
{% block content %}
<div class="home">
     <h2>India emerged as the fastest growing major economy in the world but due to the recent covid 19 pandemic, it experienced a drastic fall in its economic status in 2020.</h2>
     <h3>Through this project we want to show how vaccination in india has improved its economic/GDP growth</h3>
     <img src="https://assets.weforum.org/article/image/responsive_medium_webp_jiWCvUOUIgzoxW_YjKnvNB4AsVIxexEgox_f6NibqWo.webp">

{%endblock%}