{%extends "layout.html"%}
{% block content %}
<div class="Thanks">
     <h2>We would like to Thank you for giving us such an oppurtunity , and also all our Sources</h2>
     <ul type= "bullets">
         <li>Asian Development Bank </li>
         <li>Our world in Data</li>
         <li>Wikipedia</li>

     </ul>
     <h3>Languages used - python,html,CSS,</h3>
     
<div>
    <a href="https://ibb.co/Lx3Js7W"><img src="https://i.ibb.co/zXz7tvY/Thankyou.jpg"height="600" width="1100" alt="Thankyou" border="0"></a><br /><a target='_blank' ></a><br />
{%endblock%}